<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Neuresta - Gallery</title>
    <link rel="stylesheet" href="{%static 'gallery.css'%}">
    <link rel="stylesheet" href="{%static 'navbar1.css'%}">
</head>

<body>
    <div>
        <div class="navbody">
            <ul class="menu-bar">
                <li>
                    <a class = "nav" href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a class = "nav"  href="{% url 'about' %}">About</a>
                </li>
                <li>
                    <a class = "nav" href="{% url 'gallery' %}">Gallery</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a class = "nav" href="{% url 'logoutuser' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a class = "nav" href="{% url 'loginuser' %}">Login</a>
                </li>
                <li>
                    <a class = "nav" href="{% url 'signupuser' %}">SignUp</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="container">
            <div class="box">
                <img src='{% static "home_images/tiger.jpeg" %}'>
                <span>Content</span>
            </div>
            <div class="box">
                <img src='{% static "home_images/tiger_stylized.png" %}'>
                <span>Stylized</span>
            </div>
            <div class="box">
                <img src='{% static "home_images/abstract_tiger.jpg" %}'>
                <span>Style</span>
            </div>
        </div>
        <div class="container">
            <div class="box">
                <img src='{% static "home_images/woman.jpg" %}'>
                <span>Content</span>
            </div>
            <div class="box">
                <img src='{% static "home_images/woman_style_2.png" %}'>
                <span>Stylized</span>
            </div>
            <div class="box">
                <img src='{% static "home_images/abstract_woman.jpg" %}'>
                <span>Style</span>
            </div>
        </div>
    </div>

</body>

</html>